/* ==========================================================================
   IMAGE ELEMENTS
   ========================================================================== */

img.alignleft {
    float: left;
    margin-right: 0.7em;
}

img.alignright {
    float: right;
    margin-left: 0.7em;
}